body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #aaa;
    height: 100%;
}

p {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em ;
    margin-right: 0.5em;
}

hr {
    width: 50%;
}

input[type=range] {
    width: 80%;
}

.container {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    margin-right: 3%;
}

.sliders  {
    display: inline-block;
    max-width: 50%;
}

#wheel {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 0 1em black;
    width:100%;
}

#aim {
    position: absolute;
    height: 8%;
    top: 40%;
    left: 47%;
}

